<!--get the map put into a id map-->
<!--take the card product from le wagon -->
<!--within the product card need to add extra features like ratings,icons -->

<div class="mapbox-wrapper">
  <div class="mapbox-container">
    <div class="mapbox", style="width: 100%; height: 350px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="back-button">
      <button onclick="history.back()">New Search</button>
  </div>
</div>
